     body {
         box-sizing: border-box;
         scroll-behavior: smooth;
         margin: 0;
         overflow-x: hidden;
         padding: 0;
     }
     /* media queries  */
     /* mobile phones and tabs except extremely large tabs */
     /* @ 350 upward */
     
     @media screen and (min-width:350px) {
         .mainbody-active {
             width: calc(100vw - 60vw) !important;
         }
     }
     
     @media screen and (max-width:250px) {
         .socials span a {
             font-size: calc(100vw - 99vw) !important;
         }
     }
     /*  700 below*/
     /*      
     @media screen and (max-width:900px) {} */
     /* 900px and below */
     /*  ******************************************************************* */
     
     @media screen and (max-width:900px) {
         .sidebarcontainer {
             position: absolute;
             width: calc(100vw - 30vw);
             height: 100vh;
             display: grid;
         }
         .toggle {
             top: 0;
             left: 0;
             background: #eeeeee;
             width: 100vw;
             text-align: left;
             position: fixed;
             z-index: 10000;
             display: flex;
             align-items: center;
             height: calc(100vh - 93vh);
         }
         .toggle i {
             font-size: calc(100vh - 94vh);
             margin-left: 20px;
         }
         .mainbody {
             height: calc(100vh - 93vh);
             margin-top: calc(100vh - 96vh);
             width: 0;
             background: #222831;
             visibility: hidden;
             position: fixed;
             text-align: center;
             justify-items: center;
             justify-content: center;
             transition: 140ms ease-in-out;
             z-index: -100;
             grid-template-rows: 10% 60% 30%;
         }
         .mainbody-active {
             height: 100vh;
             width: calc(100vh - 50vh) !important;
             transition: 0.1s ease-in-out;
             margin-top: calc(100vh - 93vh);
             background: #222831;
             visibility: visible;
             display: grid;
             text-align: center;
             z-index: 10000000000000;
             justify-items: center;
             justify-content: center;
             grid-template-rows: 10% 60% 30%;
         }
         .logo {
             height: 30px;
             width: 100%;
             /* background-color: #22283e; */
             text-align: center;
             align-items: center;
             margin-top: 4vh;
             justify-content: center;
         }
         .logo span {
             font-size: calc(100vh - 96vh);
             color: #eeeeee;
             font-family: 'Ubuntu';
             font-weight: 900;
         }
         .mainbody ul {
             width: 60%;
             display: grid;
             height: 100%;
             margin-left: -20px;
             text-align: center;
             align-items: center;
             grid-template-rows: auto;
             /* background: #000; */
         }
         .mainbody ul li {
             list-style-type: none;
             margin-left: -25px;
             border-right: 2px solid #00adb5;
             border-left: 2px solid #00adb5
         }
         .mainbody ul li a {
             color: #eeeeee;
             text-decoration: none;
             font-family: "ubuntu";
             font-weight: 600;
             font-size: calc(100vh - 98vh);
         }
         .socials {
             /* background-color: black; */
             display: grid;
             justify-content: center;
         }
         .socials span a {
             font-size: calc(100vh - 98vh);
             font-family: "Poppins";
             text-decoration: none;
             font-weight: 600;
             color: #eeeeee;
             text-align: center;
         }
         .socials .icons i {
             padding: 6px;
             color: #00adb5;
             font-size: calc(100vh - 98vh);
             font-weight: 600;
             background: #eeeeee;
             margin: 8px;
         }
         .topper {
             display: none;
         }
         li ul {
             display: none;
         }
         /* ************************************************ */
         /* other section which only works for mobile */
         /* ************************************************ */
         /* section 1 */
         .section1 {
             position: relative;
             width: 100vw;
             height: 100vh;
             margin: 0;
             padding: 0;
             background: url("./images/back.jpg");
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
         }
         .sec1-box {
             width: calc(100vw - 20vw);
             background: rgba(0, 0, 0, 0.6);
             height: calc(100vh - 50vh);
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
             display: grid;
             text-align: center;
             z-index: 100;
             color: #eeeeee;
         }
         .sec1-box h1 {
             font-size: calc(100vh - 94vh);
             font-family: "Poppins";
             font-weight: 900;
         }
         .sec1-footer {
             text-align: center;
         }
         .sec1-footer button {
             padding: 10px;
             background: #00adb5;
             font-size: calc(100vh - 97vh);
             font-weight: 700;
             font-family: "Ubuntu";
             border: none;
             border-radius: 3px;
         }
         /* section1 ends */
         .section3 {
             margin-top: 20vh !important;
             width: 100vw;
             /* height: 100vh; */
             margin: 0;
             padding: 0;
             background-color: #393e46;
             justify-items: center;
             display: flex;
             flex-direction: column;
             justify-content: space-evenly;
             text-align: center;
             flex-basis: 1;
             align-items: center;
             /* flex-wrap: wrap */
         }
         .box-division1 {
             background-image: url("./images/4.jpg");
             width: 100%;
             height: 100vh;
             background-position: center;
             background-repeat: no-repeat;
             background-size: contain;
             border: none;
         }
         .box-division2 p {
             padding: 2px;
         }
         .box-division2 {
             text-align: center;
             display: block;
             align-items: center;
             align-content: center;
             justify-content: center;
             width: 100%;
             height: 100vh;
             color: #eeeeee;
             font-family: "Poppins";
         }
         .box-division2 button {
             background-color: #00adb5;
             color: #eeeeee;
             font-family: "Poppins";
             padding: 10px;
             border: none;
             font-size: 18px;
             border-radius: 4px;
         }
         /* section 2 */
         .section2 {
             margin-top: 20vh !important;
             width: 100vw;
             position: relative;
             margin: 0;
             padding: 0;
             margin-bottom: 30vh;
         }
         .section2-text {
             display: block;
             justify-content: center;
             align-items: center;
             text-align: center;
             align-content: center;
             font-family: "Poppins";
             justify-items: center;
         }
         .section2-text h1 {
             font-size: calc(100vh - 96vh);
         }
         .section2-text p {
             width: 90%;
             text-align: center;
             font-weight: 600;
             position: relative;
         }
         /* cards */
         .section2-box {
             display: flex;
             flex-direction: row;
             flex-wrap: wrap;
             align-items: center;
             align-content: center;
             justify-content: center;
             position: relative;
             flex-basis: 1;
             flex-shrink: 1;
             flex-grow: 1;
             margin-top: 10vh;
         }
         /* all boxes */
         .box1,
         .box2,
         .box3 {
             width: 300px;
             margin: 20px !important;
             height: 400px;
             min-height: 200px;
             display: grid;
             text-align: center;
             flex-direction: column;
             font-family: "Ubuntu";
             font-weight: 600;
         }
         /* box1  */
         .img-box1 {
             width: 100%;
             height: 200px;
             min-height: 100px;
             background: url("./images/2.jpg");
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
         }
         .text-box1 {
             width: 100%;
             height: 200px;
             min-height: 100px;
         }
         /* box 2 */
         .img-box2 {
             width: 100%;
             height: 200px;
             min-height: 100px;
             background: url("./images/3.jpg");
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
         }
         .text-box2 {
             width: 100%;
             height: 200px;
             min-height: 100px;
         }
         /* box 3 */
         .img-box3 {
             width: 100%;
             height: 200px;
             min-height: 100px;
             background: url("./images/4.jpg");
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
         }
         .text-box3 {
             width: 100%;
             height: 200px;
             min-height: 100px;
         }
         .section2-wrapper {
             text-align: center;
         }
         .section2-wrapper button {
             padding: 10px;
             color: #00adb5;
             border: none;
             border-radius: 3px;
             font-family: "Poppins";
             background-color: #222831;
             font-size: 18px;
         }
         .section2-wrapper button:hover {
             background: #393e46;
         }
         /* cards */
         /*  section 3 ends */
         /* section 4*/
         .section4 {
             width: 100vw;
             position: relative;
             height: 100vh;
             margin: 0;
             /* margin-top: 30vh; */
             background: #222831;
             display: flex;
             justify-content: center;
             align-items: center;
         }
         .section4-wrapper {
             color: #eeeeee;
             text-align: center;
             font-family: "Poppins";
             width: 80%;
         }
         .section5 {
             width: 100vw;
             /* height: 100vh; */
             margin-top: 30vh !important;
             margin: 0;
             padding: 0;
             display: flex;
             flex-direction: column;
             flex-basis: 1;
             align-content: center;
             justify-content: space-around;
             align-items: center;
         }
         .box5-div {
             width: 90vw;
             height: 60vh;
             text-align: center;
             font-family: "Poppins";
             font-weight: 600;
             display: block;
         }
         .box5-div button {
             margin-top: 10vh;
             padding: 10px;
             background: #00adb5;
             font-family: "Ubuntu";
             font-size: 18px;
             border: none;
             border-radius: 4px;
             font-weight: 700;
         }
         .box5-divs {
             width: 100vw;
             height: 100vh;
             background: url("./images/6.jpg");
             background-position: center;
             background-size: cover;
             background-repeat: no-repeat;
         }
         /*  */
     }
     /* 900 + screens */
     /* ****************************************************  */
     
     @media screen and (min-width:901px) {
         .sidenarcontainer {
             width: 100vw;
             height: calc(100vh - 93vh);
             background-color: #eeeeee;
             display: flex;
         }
         .mainbody {
             height: calc(100vh - 93vh);
             display: flex;
             justify-content: space-around;
             align-items: center;
         }
         .mainbody ul {
             display: flex;
             justify-content: space-around;
             align-items: center;
         }
         ul li {
             padding: 5px;
             margin: 5px;
             list-style-type: none;
             margin-top: 0;
         }
         ul li a {
             text-decoration: none;
             color: #393e46;
             font-size: 17px;
             font-family: "Poppins";
             font-weight: 600;
         }
         .logo span {
             font-size: 25px;
             font-family: "Ubuntu";
             font-weight: 900;
         }
         .toggle {
             display: none;
         }
         .socials {
             display: flex;
             justify-content: space-around;
             margin-left: -60px;
         }
         .socials span a {
             font-size: 14px;
             font-weight: 600;
             color: #00adb5;
             text-decoration: none;
             font-family: "Poppins";
             margin-right: 10px;
         }
         .topper {
             display: flex;
             top: 0;
             left: 0;
             width: 100vw;
             height: 100vh - 93vh;
             background: #222831;
             justify-content: center;
             align-items: center;
         }
         .topper h1 {
             font-size: 16px;
             font-weight: 600;
             font-family: "Ubuntu";
             color: #eeeeee;
             margin-left: -95px;
         }
         .socials i {
             background: #00adb5;
             font-size: 18px;
             font-weight: 600;
             padding: 3px;
             margin-right: 5px;
             color: #222831;
             border-radius: 3px;
         }
         /* section 1 */
         .section1 {
             width: 100vw;
             height: 100vh;
             margin: 0;
             padding: 0;
             background: url("./images/back.jpg");
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
         }
         .sec1-box {
             width: calc(100vw - 60vw);
             background: rgba(0, 0, 0, 0.6);
             height: calc(100vh - 50vh);
             position: absolute;
             top: 60%;
             left: 50%;
             transform: translate(-50%, -50%);
             display: grid;
             text-align: center;
             z-index: 100;
             color: #eeeeee;
         }
         .sec1-box h1 {
             font-size: calc(100vh - 94vh);
             font-family: "Poppins";
             font-weight: 900;
         }
         .sec1-footer {
             text-align: center;
         }
         .sec1-footer button {
             padding: 13px;
             background: #00adb5;
             font-size: calc(100vh - 97vh);
             font-weight: 900;
             font-family: "Ubuntu";
             border: none;
             color: #eeeeee;
             border-radius: 3px;
         }
         /* section1 ends */
         /* section 2 */
         .section2 {
             margin-top: 20vh !important;
             width: 100vw;
             height: 100vh;
             margin: 0;
             padding: 0;
         }
         .section2-text {
             display: block;
             justify-content: center;
             align-items: center;
             text-align: center;
             align-content: center;
             font-family: "Poppins";
             justify-items: center;
         }
         .section2-text h1 {
             font-size: calc(100vh - 96vh);
         }
         .section2-text p {
             width: 50%;
             text-align: center;
             font-weight: 600;
             left: 25%;
             position: relative;
         }
         /* cards */
         .section2-box {
             display: flex;
             flex-direction: row;
             flex-wrap: nowrap;
             flex-basis: 1;
             justify-content: space-around;
             margin-top: 10vh;
         }
         /* all boxes */
         .box1,
         .box2,
         .box3 {
             width: 300px;
             height: 400px;
             display: grid;
             text-align: center;
             flex-direction: column;
             font-family: "Ubuntu";
             font-weight: 600;
         }
         /* box1  */
         .img-box1 {
             width: 100%;
             height: 200px;
             background: url("./images/2.jpg");
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
         }
         .text-box1 {
             width: 100%;
             height: 200px;
         }
         /* box 2 */
         .img-box2 {
             width: 100%;
             height: 200px;
             background: url("./images/3.jpg");
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
         }
         .text-box2 {
             width: 100%;
             height: 200px;
         }
         /* box 3 */
         .img-box3 {
             width: 100%;
             height: 200px;
             background: url("./images/4.jpg");
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
         }
         .text-box3 {
             width: 100%;
             height: 200px;
         }
         .section2-wrapper {
             text-align: center;
         }
         .section2-wrapper button {
             padding: 10px;
             color: #00adb5;
             border: none;
             border-radius: 3px;
             font-family: "Poppins";
             background-color: #222831;
             font-size: 18px;
         }
         .section2-wrapper button:hover {
             background: #393e46;
         }
         /* cards */
         /* section 3 */
         .section3 {
             margin-top: 20vh !important;
             width: 100vw;
             height: 100vh;
             margin: 0;
             padding: 0;
             background-color: #393e46;
             justify-items: center;
             display: flex;
             flex-direction: row;
             justify-content: space-evenly;
             text-align: center;
             flex-basis: 1;
             align-items: center;
             flex-wrap: wrap
         }
         .box-division1 {
             background-image: url("./images/4.jpg");
             width: 50vw;
             height: 80vh;
             background-position: center;
             background-repeat: no-repeat;
             background-size: contain;
             margin-left: -2vw;
             border: none;
         }
         .box-division2 {
             text-align: left;
             display: block;
             width: 45vw;
             height: 80vh;
             color: #eeeeee;
             font-family: "Poppins";
         }
         .box-division2 button {
             background-color: #00adb5;
             color: #eeeeee;
             font-family: "Poppins";
             padding: 10px;
             border: none;
             font-size: 18px;
             border-radius: 4px;
         }
         /* section 4*/
         .section4 {
             width: 100vw;
             height: 100vh;
             margin: 0;
             /* margin-top: 30vh; */
             background: #222831;
             display: flex;
             justify-content: center;
             align-items: center;
         }
         .section4-wrapper {
             color: #eeeeee;
             text-align: center;
             font-family: "Poppins";
             width: 60%;
         }
         .section5 {
             width: 100vw;
             height: 100vh;
             margin-top: 30vh !important;
             margin: 0;
             padding: 0;
             display: flex;
             flex-direction: row;
             flex-basis: 1;
             align-content: center;
             justify-content: space-around;
             align-items: center;
         }
         .box5-div {
             width: 40vw;
             height: 50vh;
             text-align: left;
             font-family: "Poppins";
             font-weight: 600;
             display: block;
         }
         .box5-div button {
             margin-top: 10vh;
             padding: 10px;
             background: #00adb5;
             font-family: "Ubuntu";
             font-size: 18px;
             border: none;
             border-radius: 4px;
             font-weight: 700;
         }
         .box5-divs {
             width: 40vw;
             height: 80vh;
             background: url("./images/6.jpg");
             background-position: center;
             background-size: cover;
             background-repeat: no-repeat;
         }
     }